* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  margin-bottom: 20px;
  font-family: Verdana;
  font-weight: 600;
}

.form {
  display: flex;
  justify-content: center;
  margin: 100px;
}

.form label,
input {
  display: flex;
  padding-bottom: 5px;
  font-family: Arial;
}

label {
  font-weight: 600;
}

input {
  padding: 5px;
  width: 350px;
  height: 35px;
}

button {
  width: 350px;
  height: 40px;
  margin-top: 20px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  background-color: greenyellow;
  border: 0px greenyellow;
}

button:hover {
  background-color: rgba(172, 255, 47, 0.911);
}
